/* Verhindert Überlappungen */
#welcome-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box { text-align: center; }

.welcome-logo {
    width: 150px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-interface {
    position: relative;
    z-index: 1;
}

.mini-logo {
    height: 30px;
    margin-right: 10px;
}